SSIT_SERVER/Web References/SSSTokenGenerator/TokenServiceBeanService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.sss.tokengen/" targetNamespace="http://service.sss.tokengen/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generateToken" type="tns:generateToken" />
  <xs:element name="generateTokenResponse" type="tns:generateTokenResponse" />
  <xs:complexType name="generateToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="sssid" type="xs:string" />
      <xs:element minOccurs="0" name="erbrn" type="xs:string" />
      <xs:element minOccurs="0" name="appcd" type="xs:string" />
      <xs:element minOccurs="0" name="trancd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generateTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tokenDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tokenDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="msg" type="xs:string" />
      <xs:element minOccurs="0" name="tokenid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>